<div>
  <form>
    <div #todoForm hidden>
      <div class="form-group">
        <label for="TodoTopic">Todo Topic:</label>
        <input type="text" [(ngModel)]="topicTodo" name="topicTodo" class="form-control">
      </div>
      <div class="form-group">
        <label for="TodoDetail">Todo Detail:</label>
        <textarea class="form-control" [(ngModel)]="detailTodo" name="detailTodo" cols="50" rows="5"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="addList()">Add List</button>
        <button class="btn btn-warning" (click)="clearInput()">Clear Form</button>
        <button class="btn btn-success" (click)="hiddenForm()">Hide Form</button>
      </div>
    </div>
    <div class="perfect-centering">
      <button #btnShowForm class="btn btn-success show-btn" (click)="showForm()">Show Add List Form</button>
    </div>
  </form>
</div>
